---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.vue'
import Container from '../components/Container.vue'
import Tip from '../components/Tip.vue'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

const { frontmatter } = Astro.props
const title: string = `${frontmatter.title} - ${SITE_TITLE}`
---

<!DOCTYPE html>
<html lang="it-IT" data-theme="corporate">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Container client:load>
        <article class="prose max-w-none prose-a:text-primary">
          <header>
            <h1
              class="text-3xl font-extrabold leading-9 tracking-tight sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"
            >
              {frontmatter.title}
            </h1>
          </header>
          <slot />
        </article>
        <hr class="my-8" />
        <Tip />
      </Container>
      <Footer />
    </main>
  </body>
</html>
